---
title: "Mitwirkende"
layout: default
permalink: "/mitwirkende.html"
---

<div class="container">
    
    <h4 class="font-weight-bold spanborder"><span>Mitarbeitende im Sekretariat</span></h4>
    <p class="mb-3 lead">Das Sekretariat organisiert das Tagesgeschäft und engagiert sich für eine kontinuierliche Weiterentwicklung unserer Aktivitäten.</p>

    <div class="gap-y listprofiles">
        {% assign sorted_profiles = site.profiles | sort: 'sort_order', 'last' %}
        {% assign normal_profiles = '' | split: '' %}
        {% assign supporter_profiles = '' | split: '' %}
        {% assign steering_group_profiles = '' | split: '' %}

        {% for profile in sorted_profiles %}
            {% if profile.core_team %}
                <div class="border rounded my-4 p-4">
                    {% include card-profile.html profile=profile %}
                </div>
            {% elsif profile.supporter%} 
                {% assign supporter_profiles = supporter_profiles | push: profile %}
            {% elsif profile.steering_group %}  
                {% assign steering_group_profiles = steering_group_profiles | push: profile %}  
            {% else %}  
                {% assign normal_profiles = normal_profiles | push: profile %}  
            {% endif %}
        {% endfor %}
    </div>

    {% if steering_group_profiles != empty %}

        <h4 class="font-weight-bold spanborder mt-3"><span>Mitarbeitende in der Steuerungsgruppe</span></h4>
        <p class="mb-3 lead">Die Steuerungsgruppe setzt sich aus dem Sekretariat und den folgenden Vertreter:innen der unterstützenden Hochschulen zusammen.</p>

        <div class="gap-y listprofiles">
            {% for profile in steering_group_profiles %}
            <div class="border rounded my-4 p-4">
                {% include card-profile.html profile=profile %}
            </div>
            {% endfor %}
        </div>

    {% endif %}

    {% if supporter_profiles != empty %}

        <h4 class="font-weight-bold spanborder mt-3"><span>Unterstützende des Innovation Hub Inklusion</span></h4>
        <p class="mb-3 lead">Die Unterstützenden des Innovation Hub Inklusion leisten vielfältige Beiträge, um unseren Betrieb aufrecht zu erhalten.</p>

        <div class="gap-y listprofiles">
            {% for profile in supporter_profiles %}
            <div class="border rounded my-4 p-4">
                {% include card-profile.html profile=profile %}
            </div>
            {% endfor %}
        </div>

    {% endif %}

    {% if normal_profiles != empty %}

        <h4 class="font-weight-bold spanborder mt-3"><span>Mitwirkende im Innovation Netzwerk</span></h4>
        <p class="mb-3 lead">Das Innovation Netzwerk ist ein Zusammenschluss von Personen und Organisationen die sich aktiv mit den Chancen und Herausforderungen von Inklusion beschäftigen und mit Ihrer Arbeit einen Beitrag zum Gelingen von Inklusion leisten wollen.</p>

        <div class="gap-y listprofiles">
            {% for profile in normal_profiles %}
                <div class="border rounded my-4 p-4">
                    {% include card-profile.html profile=profile %}
                </div>
            {% endfor %}
        </div>

    {% endif %}
</div>