<div class="card-post row">
	<div class="{% if include.post.image %}col-xl-7{% else %}col-lg-11{% endif %}">
		<h2 class="mb-1 h4 font-weight-bold">
			<a class="text-dark" href="{% if include.post.link_url != empty %}{{include.post.link_url}}{% else %}{{site.baseurl}}{{include.post.url}}{% endif %}">{{ include.post.title }}</a>
		</h2>
		{% if include.post.subtitle %}
		<p class="subtitle">{{ include.post.subtitle }}</p>
		{% endif %}
		<div class="excerpt">
			{{ include.post.excerpt | strip_newlines }}
		</div>
		{% if include.post.events %}
			{% include list-details-event.html events=include.post.events subtitle=true item_class="event-flat-style"%}
		{% endif %}
		
		{% if include.post.short_post != true %}
			<a class="btn btn-outline-primary " href="
			{% if include.post.link_url and include.post.link_url != nil and include.post.link_url != '' %}
				{{include.post.link_url}}
			{% else %}
				{{site.baseurl}}{{include.post.url}}
			{% endif %}">Weiterlesen</a>
		{% endif %}
	</div>
{% if include.post.image %} 
	<div class="col-xl-5 pr-0 text-right order-first order-xl-last">
		<a href="{{site.baseurl}}{{include.post.url}}">
			<div class="w-100 card-post-image" style="background-image: url({{ site.baseurl }}/{{ include.post.image }});"></div>
		</a>
	</div>
{% endif %}
</div>