<div class="card-post row">
	<div class="{% if include.post.image %}col-xl-7{% else %}col-lg-11{% endif %}">
		<h2 class="mb-1 h4 font-weight-bold">
			<a class="text-dark" href="{{site.baseurl}}{{include.post.url}}">{{ include.post.title }}</a>
		</h2>
		{% if include.post.subtitle %}
		<p class="subtitle">{{ include.post.subtitle }}</p>
		{% endif %}
		<div class="excerpt">
			{{ include.post.excerpt | strip_newlines }}
		</div>
		{% if include.post.events %}
			{% include list-details-event.html events=include.post.events subtitle=true item_class="event-flat-style"%}
		{% endif %}
		<small class="d-block text-muted">
			Erstellt am {{ include.post.date | date: '%d.%m.%Y' }}. 
			{% if include.post.workareas %}
				Arbeitsbereiche: {% include list-workareas.html workareas=include.post.workareas %}
			{% endif %}
			{% if include.post.projects %}
				Projekte: {% include list-projects.html projects=include.post.projects %}
			{% endif %}
		</small>
	</div>
{% if include.post.image %}
	<div class="col-xl-5 pr-0 text-right order-first order-xl-last">
		<a href="{{site.baseurl}}{{include.post.url}}">
			<div class="w-100 card-post-image" style="background-image: url({{ site.baseurl }}/{{ include.post.image }});"></div>
		</a>
	</div>
{% endif %}
</div>