{% if include.title %}
    <h6 class="font-weight-bold">
        <a href="{{site.baseurl}}{{ include.event.url }}" class="text-dark">{{ include.event.title }}</a>
    </h6>
{% endif %}
{% if include.subtitle and include.event.subtitle %}
    <a href="{{site.baseurl}}{{ include.event.url }}" class="d-block text-muted mb-2 subtitle">{{ include.event.subtitle }}</a>
{% endif %}
<div class="text-muted">
    Zeit: <span class="badge badge-primary">{{include.event.event_date_start | date: '%d.%m.%y %H:%M' }}</span> bis <span class="badge badge-primary">{{include.event.event_date_end | date: '%d.%m.%y %H:%M' }}</span>
</div>
<div class="text-muted event-location">
    Ort: <span class="badge badge-primary text-white">{{include.event.event_location | markdownify }}</span>
</div>