{% assign workarea_projects = '' | split: '' %}
{% assign workarea_projects_intern = '' | split: '' %}

{% for project in site.projects | where: "active", true %}
    {% if project.workareas contains include.workarea.workarea_id %}
        {% if project.intern == true %}
            {% assign workarea_projects_intern = workarea_projects_intern | push: project %}
        {% else %} 
            {% assign workarea_projects = workarea_projects | push: project %}
        {% endif %}
    {% endif %}
{% endfor %}