{% include find-projects-by-workarea.html workarea=include.workarea %}

{% if include.active %}
    <h5 class="px-4 py-3 border" id="{{workarea.workarea_id}}-projects-active-heading">
        Aktuelle Projekte 
        <a class="btn btn-primary btn-sm float-right projects-toggle" data-toggle="collapse" href=".{{workarea.workarea_id}}-projects-active-collapse" role="button" aria-expanded="false" aria-controls="{{workarea.workarea_id}}-projects-active">
            <span class="{{workarea.workarea_id}}-projects-active-collapse collapse show">Ausklappen</span>
            <span class="{{workarea.workarea_id}}-projects-active-collapse collapse">Einklappen</span>
        </a>
    </h5>
    <div id="{{workarea.workarea_id}}-projects-active" class="collapse {{workarea.workarea_id}}-projects-active-collapse" aria-labelledby="{{workarea.workarea_id}}-projects-active-heading">
        {% if workarea_projects_active != empty %}
            {% for project in workarea_projects_active %}
                <div class="px-4 py-3 my-3 border rounded">
                    {% include card-project.html %}
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-light" role="alert">
                Wir haben hier keine aktuell aktiven Projekte.
            </div>
        {% endif %}
    </div>
{% endif %}

{% if include.inactive %}
    <h5 class="px-4 py-3 border" id="{{workarea.workarea_id}}-projects-inactive-heading">
        Beendete Projekte 
        <a class="btn btn-primary btn-sm float-right projects-toggle" data-toggle="collapse" href=".{{workarea.workarea_id}}-projects-inactive-collapse" role="button" aria-expanded="false" aria-controls="{{workarea.workarea_id}}-projects-inactive">
            <span class="{{workarea.workarea_id}}-projects-inactive-collapse collapse show">Ausklappen</span>
            <span class="{{workarea.workarea_id}}-projects-inactive-collapse collapse">Einklappen</span>
        </a>
    </h5>
    <div id="{{workarea.workarea_id}}-projects-inactive" class="collapse {{workarea.workarea_id}}-projects-inactive-collapse" aria-labelledby="{{workarea.workarea_id}}-projects-inactive-heading">
        {% if workarea_projects_inactive != empty %}
            {% for project in workarea_projects_inactive %}
                <div class="px-4 py-3 my-3 border rounded">
                    {% include card-project.html %}
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-light" role="alert">
                Wir haben hier bisher noch keine Projekte abgeschlossen.
            </div>
        {% endif %}
    </div>
{% endif %}