{% if site.newsletter_url %}
    <!-- Newsletter Subscribe Form -->
    <div class="border p-5 bg-lightgreen">
        <div class="row justify-content-between">
            <div class="col-md-6 mb-2 mb-md-0">
                <h5 class="font-weight-bold">Für den Newsletter anmelden</h5>
                Die wichtigsten Neuigkeiten 1 mal pro Monat per Email. Kein Spam.  
            </div>
            <div class="col-md-6">
                <div class="row">
                    {% include newsletter-form.html button_css="btn-primary"%}
                </div>
            </div>
        </div>
    </div>
{% endif %}