<div class="intro-section my-4">
    <ul class="nav nav-pills nav-fill mb-3 mb-lg-5" id="intro-section-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="our-concept-tab" data-toggle="pill" href="#our-concept" role="tab" aria-controls="our-concept" aria-selected="true">Unser Selbstverständnis</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="our-offers-tab" data-toggle="pill" href="#our-offers" role="tab" aria-controls="our-offers" aria-selected="false">Unsere Angebote</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="our-organization-tab" data-toggle="pill" href="#our-organization" role="tab" aria-controls="our-organization" aria-selected="false">Unsere Organisation</a>
        </li>
    </ul>
    <div class="tab-content" id="intro-section-content">
        <div class="tab-pane show active" id="our-concept" role="tabpanel" aria-labelledby="our-concept-tab">
            <div class="row">
                <div class="col-lg-7">
                    <ul class="list-unstyled">
                        <li class="media">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Forschungsorientiert</h5>
                                <p>Wir möchten beweisen, dass exzellente und anwendungsorientierte Forschung einen wichtigen Beitrag zur erfolgreichen Gestaltung von Inklusion liefern kann.</p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Transferorientiert</h5>
                                <p>Wir möchten eng und co-kreativ mit Praxisparterner:innen zusammenarbeiten, weil wir von einander lernen können. Gemeinsam sind wir stärker als alleine.</p>
                            </div>
                        </li>
                        <li class="media">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bildungsorientiert</h5>
                                <p>Wir möchten die Erkenntnisse die wir gewinnen in die Verbesserung der Bildung einfließen lassen. Bildung bedarf Inklusion und Inklusion bedarf Bildung.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 our-concept-figure mb-4 mb-lg-0 order-first order-lg-last"></div>
            </div>
        </div>
        <div class="tab-pane" id="our-offers" role="tabpanel" aria-labelledby="our-offers-tab">
            <div class="row">
                <div class="col-lg-7">
                    <ul class="list-unstyled">
                        <li class="media">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Netzwerk und Austausch</h5>
                                <p>Wir bieten eine offene digitale Kommunikationsplattform für einen intensiven Austausch zu den vielen Facetten des Themenkomplex Inklusion.</p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Veranstaltungen</h5>
                                <p>Wir bieten regelmäßig (online und offline) Veranstaltungen zu den verschienden Arbeitsbereichen des Innovation Hub Inklusion an.</p>
                            </div>
                        </li>
                        <li class="media">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Unterstützung</h5>
                                <p>Wir bieten Unterstützung bei der Entwicklung von Innovationsprojekten mit Bezug zu Inklusion an. Wenden Sie sich einfach an uns, um nähere Details zu erfahren.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 our-offers-figure mb-4 mb-lg-0 order-first order-lg-last"></div>
            </div>
        </div>
        <div class="tab-pane" id="our-organization" role="tabpanel" aria-labelledby="our-organization-tab">
            <div class="row">
                <div class="col-lg-7">
                    <ul class="list-unstyled">
                        <li class="media">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Sekretariat</h5>
                                <p>Das Sekretariat organisiert das Tagesgeschäft des Innovation Hub Inklusion und versucht Impulse für die Weiterentwicklung zu setzen.</p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Mitwirkende</h5>
                                <p>Die Mitwirkenden sind das Herz des Innovation Hub Inklusion und arbeiten in konkreten Innovationsprojekten mit Bezug zu Inklusion.</p>
                            </div>
                        </li>
                        <li class="media">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Unterstützende</h5>
                                <p>Die Unterstützenden sind Freunde und Förderer des Innovation Hub Inklusion, beteiligen sich aber nicht aktiv an Innovationsprojekten.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 our-organization-figure mb-4 mb-lg-0 order-first order-lg-last"></div>
            </div>
        </div>
    </div>
</div>
  