<div class="jumbotron jumbotron-fluid jumbotron-home js pt-0 pb-0 mt-3 mb-2rem bg-lightgreen rounded position-relative">
    <div class="pl-0 pr-0 h-100 tofront">
        <div class="row">
            <div class="col-md-6 col-lg-7 col-xl-6 pt-3 pb-3 py-md-6 pl-xl-4 align-self-center">
                <h1 class="mb-3 text-anim x-n_r js-text-anim">
                    Inklusion 
                        <span class="x-n_e js-text-anim__wrapper">
                            <i class="text-anim__word js-text-anim__word">mit</i>
                            <i class="text-anim__word js-text-anim__word">in</i>
                            <i class="text-anim__word js-text-anim__word">durch</i>
                            <i class="text-anim__word js-text-anim__word">als</i>
                        </span>
                    Innovation
                </h1>
                <p class="mb-5 lead">
                    Wir schaffen Räume für inklusive Innovationen. Gemeinsam.
                </p>
                <a href="{{site.baseurl}}/ueber-uns.html" class="btn btn-outline-dark font-weight-bold">Mehr Über Uns</a>
                <a href="{{site.baseurl}}/mitmachen.html" class="btn btn-outline-dark font-weight-bold ml-2">Mitmachen!</a>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-6 order-first order-md-last mt-3 mt-md-0 p-lg-4 image-panel">	
            </div>
        </div>
    </div>
</div> 