<div class="intro-section my-4">
    <ul class="nav nav-pills nav-fill mb-3 mb-lg-5" id="intro-section-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="our-concept-tab" data-toggle="pill" href="#our-concept" role="tab" aria-controls="our-concept" aria-selected="true">Unser Selbstverständnis</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="our-offers-tab" data-toggle="pill" href="#our-offers" role="tab" aria-controls="our-offers" aria-selected="false">Unsere Angebote</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="our-organization-tab" data-toggle="pill" href="#our-organization" role="tab" aria-controls="our-organization" aria-selected="false">Unsere Organisation</a>
        </li>
    </ul>
    <div class="tab-content" id="intro-section-content">
        <div class="tab-pane" id="our-concept" role="tabpanel" aria-labelledby="our-concept-tab">
            <div class="row">
                <div class="col-lg-7">
                    <ul class="list-unstyled">
                        <li class="media">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Forschungsorientiert</h5>
                                <p>Wir möchten beweisen, dass exzellente und anwendungsorientierte Forschung einen wichtigen Beitrag zur erfolgreichen Gestaltung von Inklusion liefern kann.</p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Transferorientiert</h5>
                                <p>Wir möchten eng und co-kreativ mit Praxisparterner:innen zusammenarbeiten, weil wir von einander lernen können. Gemeinsam sind wir stärker als alleine.</p>
                            </div>
                        </li>
                        <li class="media">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Bildungsorientiert</h5>
                                <p>Wir möchten die Erkenntnisse die wir gewinnen in die Verbesserung der Bildung einfließen lassen. Bildung bedarf Inklusion und Inklusion bedarf Bildung.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 our-concept-figure mb-4 mb-lg-0 order-first order-lg-last"></div>
            </div>
        </div>
        <div class="tab-pane show active" id="our-offers" role="tabpanel" aria-labelledby="our-offers-tab">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                          <h4 class="card-title text-center">Orte mit Inklusionsbedarfen</h4>
                          <p class="card-text text-justify">Getreu dem Motto <i>"Nicht über uns, sondern mit uns!"</i> suchen wir nach Orten und Kooperationspartner:innen mit konkreten Inklusionsbedarfen, die gemeinsam mit uns Inklusion umsetzen möchten.</p>
                        </div>
                        <div class="card-body py-0">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Unterstützung</h5>
                                        <p class="text-justify">Unser Netzwerk vereint viele Jahre an Erfahrung in der wissenschaftlich fundierten Umsetzung von Inklusion und kann die Durchführung von Innovationsprojekten in beratender Funktion unterstützen.</p>
                                    </div>
                                </li>
                                <li class="media my-4">
                                    <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Inspiration</h5>
                                        <p class="text-justify">Wir sammeln Beispiele und Ansätze für die erfolgreiche Umsetzung von Inklusion und kommunizieren diese über unseren Newsletter, aber auch regelmäßige (online und offline) Veranstaltungen in unser Netzwerk.</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Austausch</h5>
                                        <p class="text-justify">Wir betreiben eine digitale Kommunikationsplattform, die einen direkten und intensiven Austausch zwischen allen Mitwirkenden im Innovation Netzwerk ermöglicht.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-primary">Mitmachen!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                          <h4 class="card-title text-center">Unterstützende von Inklusion</h4>
                          <p class="card-text text-justify mb-lg-4 mb-xl-0"><i>Gemeinsam sind wir stärker als allein.</i> Als Innovation Hub Inklusion suchen wir daher den Schulterschluss mit allen Unterstützenden und Fördernden von Inklusion.</p>
                        </div>
                        <div class="card-body py-0">
                            <ul class="list-unstyled">
                                <li class="media">
                                    <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Unterstützung</h5>
                                        <p class="text-justify">Unser Netzwerk bringt viele verschiedene Kooperationspartner:innen zusammen und ermöglicht so eine bessere Abstimmung von Initiativen und damit auch eine systematischere Umsetzung von Inklusion.</p>
                                    </div>
                                </li>
                                <li class="media my-4">
                                    <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Inspiration</h5>
                                        <p class="text-justify">Der theoretische Ordnungsrahmen des Innovation Hub Inklusion betrachtet Inklusion als einen sozialen Innovationsprozess und leitet daraus inspirierende Empfehlungen für eine systematische Umsetzung ab.</p>
                                    </div>
                                </li>
                                <li class="media">
                                    <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                                    <div class="media-body">
                                        <h5 class="mt-0 mb-1">Austausch</h5>
                                        <p class="text-justify">Wir betreiben eine digitale Kommunikationsplattform, die einen direkten und intensiven Austausch zwischen allen Mitwirkenden im Innovation Netzwerk ermöglicht.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body text-center">
                            <a href="#" class="btn btn-primary">Mitmachen!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="our-organization" role="tabpanel" aria-labelledby="our-organization-tab">
            <div class="row">
                <div class="col-lg-7">
                    <ul class="list-unstyled">
                        <li class="media">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Sekretariat</h5>
                                <p>Das Sekretariat organisiert das Tagesgeschäft des Innovation Hub Inklusion und versucht Impulse für die Weiterentwicklung zu setzen.</p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Mitwirkende</h5>
                                <p>Die Mitwirkenden sind das Herz des Innovation Hub Inklusion und arbeiten in konkreten Innovationsprojekten mit Bezug zu Inklusion.</p>
                            </div>
                        </li>
                        <li class="media">
                            <i class="fa fa-2x fa-angle-double-right mr-4"></i>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Unterstützende</h5>
                                <p>Die Unterstützenden sind Freunde und Förderer des Innovation Hub Inklusion, beteiligen sich aber nicht aktiv an Innovationsprojekten.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 our-organization-figure mb-4 mb-lg-0 order-first order-lg-last"></div>
            </div>
        </div>
    </div>
</div>
  