---
layout: default
---
<div class="container">
    {% if page.image %} 
        <img class="card-img-top mb-5" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ page.image | absolute_url }}{% endif %}" alt="{{ page.title }}"> 
    {% endif %} 
    <div class="row">
        <div class="col-md-8">
            <h4 class="font-weight-bold spanborder"><span>{{page.title}}</span></h4>
            <div class="page-content mb-5 {{page.content_css}}">
                {{ content }}
            </div>
            {% if page.newsletter %} 
                {% include newsletter.html %}
            {% endif %}
        </div>
        <div class="col-md-4">
            {% include sidebar.html workareas=false events=true %}
        </div>
    </div>  
</div>